header, nav, main, footer { display: block; }
body { background-color: #2f4f4f;
       font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 90%;
		   max-width: 960px;
           margin: auto;
		   background-color: #9370DB;
		   color: #330000;
		   box-shadow: 5px 5px 5px #000000;
}
h1 { background-color: #9370DB;
	 height: 160px;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 4em;
     padding-left: 20px;
	 padding-top: 20px;
	 line-height: 130px;
	 text-shadow: 3px 3px 3px #db9370;
	 margin-bottom: 0;
}

header img {
	 float: left;
	 height: 150px;
	 margin-right: 15px;
	 padding: 5px;
}

nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #330000; }
nav a:visited{ color: #db9370; }
nav a:hover { color: #3F4632; }


main { background-color: #dfa8d0;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
		  overflow: hidden;
}


.rates-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #9370DB;
    border: 3px solid #000000;
    margin-bottom: 20px;
}

.rates-table th, .rates-table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

main img { float: right;
           padding: 20px;
}

footer { background-color: #dfa8d0;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Slideshow stuff */

img {
		vertical-align: middle;
}

* {box-sizing:border-box}

.slideshow-container {
		max-width: 900px;
		position: relative;
		margin: 20px auto;
		width: 100%;
		display: block;
		overflow: hidden;
}

.someSlides {
		display: none;
}

.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		background-color: rgba(0,0,0,0.3);
		text-decoration: none;
}

.next {
		right: 0;
		border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
}

.text {
		color: #f2f2f2;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		bottom: 8px;
		width: 100%;
		text-align: center;
		background-color: rgba(0,0,0,0.5);
}

.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
}

.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 10px 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
}

.active, .dot:hover {
		background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* media query stuff */

@media only screen and (max-width: 300px) {
    .prev, .next, .text {font-size: 11px}
}

@media only screen and (max-width: 1024px) {
    nav {
        float: none;
        width: 100%;
        text-align: center;
    }
    
	main {
        padding-left: 20px;
        padding-right: 20px;
        clear: both;
        display: block;
    }
	
    main {
        margin-left: 0;
    }

    footer {
        margin-left: 0;
    }

    header img {
        float: none;
        display: block;
        margin: 0 auto;
		max-width: 85%;
		height: auto;
    }

    h1 {
        font-size: clamp(2.5rem, 10vw, 5rem);
        text-align: center;
        padding-left: 0;
        line-height: 140px;
        height: auto;
    }
    
    main img {
        float: none;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
}