body {
	background-color: #FCEBB6;
	background-image: url(../images/fadedroad50.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #221811;
	font-family: Tahoma, Arial, sans-serif;
}

header {
	color: #8c3826;
	background-color: #d2b48c;
	text-align: center;
	padding: 5px 0;
}

/*Heading styles*/
h1 {font-size: 3em;}

h2 {color: #8c3826;}

h3, dt {color: #8c3826;}

h4 {
	background-color: #d2b48c;
	font-size: 1.2em;
	padding-left: .5em;
	padding-bottom: .25em;
}

/*main*/
main {
	padding: 0 2em 2em 2em;
	display: block;
}

.details {
	padding: 0 20%;
}

img {padding: 0 10px;}

/*Hero styles*/
#homehero {
	height: 300px;
	background-image: url(images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav a {text-decoration: none;}

footer{
	background-color: #d2b48c;
	font-size: .6em;
	font-style: italic;
	text-align: center;
	padding: 1em;
	border-top: 2px solid #8c3826
}

#wrapper {
	width: 80%;
	background-color: #fefaeb;
	margin-right: auto;
	margin-left: auto;
	min-width: 900px;
	max-width: 1280px;
	box-shadow: 0px 0px 10px #000000;
}