header, nav, main, footer { display: block; }
body { background-color: #2f4f4f;
       font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 90%;
		   max-width: 960px;
           margin: auto;
		   background-color: #9370DB;
		   color: #330000;
		   box-shadow: 5px 5px 5px #000000;
}
h1 { background-color: #9370DB;
	 height: 160px;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 4em;
     padding-left: 20px;
	 padding-top: 20px;
	 line-height: 130px;
	 text-shadow: 3px 3px 3px #db9370;
	 margin-bottom: 0;
}

header img {
	 float: left;
	 height: 150px;
	 margin-right: 15px;
	 padding: 5px;
}

nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #330000; }
nav a:visited{ color: #db9370; }
nav a:hover { color: #3F4632; }


main { background-color: #dfa8d0;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
		  overflow: auto;
}


.rates-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #9370DB;
    border: 3px solid #000000;
    margin-bottom: 20px;
}

.rates-table th, .rates-table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

main img { float: right;
              padding: 20px;
}

footer { background-color: #dfa8d0;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
	  
@media only screen and (max-width: 1024px) {
    nav {
        float: none;
        width: 100%;
        text-align: center;
    }
    
    main {
        margin-left: 0;
    }

    footer {
        margin-left: 0;
    }

    header img {
        float: none;
        display: block;
        margin: 0 auto;
    }

    h1 {
        font-size: 3.5em;
        text-align: center;
        padding-left: 0;
        line-height: 140px;
        height: auto;
        padding-bottom: 20px;
    }
    
    main img {
        float: none;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
}